deploy_role_arn = "api_gateway_endpoint"
work_urls       = "作品URL"
table_name      = "dynamo_table_name"
path            = "api_gateway_path"
title           = "website_title"
license_notice  = "著作注釈"
contact_email   = "hoge@hoge"
contact_x       = "@hoge"
about           = <<EOT
等サイトについて
EOT

technology_about = <<EOT
当サイトのフロントエンドは、以下のオープンソースソフトウェア（OSS）によって支えられています。

デザインおよびUI関連

- React
- chakra-ui
- emotion
- react-icons

ビルドおよび開発環境

- Vite
- TypeScript
- ESLint
EOT
